<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../static/plugin/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="">
            ppppppppppp
        </div>
    </div>

    <script type="application/javascript" src="../../static/plugin/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="../../static/plugin/js/bootstrap/bootstrap.min.js"></script>
    <script type="application/javascript" src="../../static/plugin/js/echart/echarts.min.js"></script>
    <script type="application/javascript" src="../../static/plugin/js/echart/china.js"></script>
    <script type="application/javascript" src="../../static/css1/test.js"></script>
</body>
</html>